################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiTemplate
/bin
/bin/Debug/netcoreapp3.1
bin/Debug/netcoreapp3.1/ApiTemplate.deps.json
bin/Debug/netcoreapp3.1/ApiTemplate.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ApiTemplate.runtimeconfig.json
bin/Debug/netcoreapp3.1/ApiTemplate.deps.json
bin/Debug/netcoreapp3.1/ApiTemplate.dll
obj/ApiTemplate.csproj.nuget.dgspec.json
obj/ApiTemplate.csproj.nuget.g.props
*.cache
*.json
*.cache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/